.<div class="row ">
    <div class="col-4 mx-auto">
        <h1 class="">Edit Article</h1>
    </div>
</div>

<%= render  "form" %>

<%= link_to 'Back', articles_path , :class => "btn btn-outline-primary"%>