<%= form_with(model: [@article,@article.comments.build],local: true) do |form|%>

<p>
    <%= form.label :body %><br>
    <%= form.text_area :body , class:'form-control' %>
</p>
<p>
    <%= form.submit class: 'btn btn-info mx-auto d-block' %>
</p>
<% end %>